body {
  margin: 0;
  font-family: sans-serif;
  background: url('background.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

.header {
  padding: 20px;
}
.header img {
  max-width: 700px;
}

.dual-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px;
}

.triple-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0% 5%;
  border: 3px solid white;
}

.section-dual {
  margin: 0px;
  width: 50%;
  max-width: none;
}

.section-triple {
  margin: 0px;
  width: 30%;
  max-width: none;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
}

.attack {
  background-color: #2196F3;
}

.defense {
  background-color: #FF9800;
}

.grid-dual {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  padding: 0px;
}

.grid-triple {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  width: 100%;
}

.square {
  width: 130px;
  height: 130px;
  border: 0px solid #888;
  border-radius: 0px;
  transition: transform 0.2s;
  display: block;
  margin: 0px;
}

.square:hover {
  transform: scale(1.1);
}
